/*------------------------------------*\
  #FONT STYLES
\*------------------------------------*/

:root {
  --fs-xl: clamp(3.2rem, 6vw + 1rem, 4.9rem);
  --fs-x: clamp(2.8rem, 4vw + 1rem, 4.8rem);
  --fs-m: clamp(2.4rem, 4vw + 1rem, 3.6rem);
  --fs-s: clamp(1.8rem, 2vw + 0.8rem, 2.1rem);
  --fs-600: 2.1rem;
  --fs-500: 1.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem;
  --fs-xs: 1.2rem;
  @include for-tablet-portrait-up {
    --fs-600: 2.4rem;
    --fs-500: 2.1rem;
    --fs-400: 1.8rem;
    --fs-300: 1.6rem;
    --fs-xs: 1.4rem;
  }
  @include for-tablet-landscape-up {
    --fs-600: 2.6rem;
    --fs-500: 2.4rem;
    --fs-400: 2rem;
    --fs-300: 1.8rem;
    --fs-xs: 1.6rem;
  }
}

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

/******** Purple ************/
$su-purple-20: #DCDBF4;
$su-purple-40: #B9B7E8;
$su-purple-60: #9792DD;
$su-purple-80: #746ED1;
$su-purple-100: #514AC6;
$su-purple-120: #4B42BB;
$su-purple-140: #4237AF;
$su-purple-160: #3B2CA3;
$su-purple-180: #2E158F;

$su-purple-lightest: #F5F4FF;
$su-purple-light: #8676FA;
$su-purple-darkest: #140748;



/******** Yellow ************/

$su-yellow-20: #FFF6BD;
$su-yellow-40: #FFF092;
$su-yellow-60: #FFEA64;
$su-yellow-80: #FEE53E;
$su-yellow-100: #FFE102;
$su-yellow-120: #FECE00;
$su-yellow-140: #FCB600; 

$su-yellow-dark: #C7B000;
$su-yellow-light: #ffff55;


/********* Gray *************/

$su-gray-dark: #858585;
$su-gray-darker: #4E4E4E;

/********* Interaction Colors *************/

$su-interactive-link: #66b5ff;
